<h1>Browsing Genres</h1>

<p><a href="/">Back to Index</a>

<ul>
<% @genres.each do |genre| %>
  <li><a href="/genres/<%= genre.url %>"><%= genre.name %></a></li>
<% end %>
</ul>

<p><a href="/">Back to Index</a>
