<h1><%= @genre.name %></h1>

<p><a href="/">Back to Index</a></p>

<b>Songs:</b>
<ul>
  <% @genre.songs.each do |song| %>
  <li><a href="/songs/<%= song.to_param %>"><%= song.name %></a></li>
  <% end %>
</ul>

<p><a href="/">Back to Index</a>
