<h1>Welcome to My Playlists!!!</h1>

<p>Please select what you would like to browse:</p>

<ul>
  <li><a href="/artists">Artists</a></li>
  <li><a href="/genres">Genres</a></li>
  <li><a href="/songs">Songs</a></li>
  <li><a href="/songs/new">New Songs</a></li>
  <li><a href="/artists/new">New Artist</a></li>
</ul>
