<form action="/simple" method="POST">
  <h2>Array'd fields</h2>
<!--   <input type="text" name="colors[]">
  <input type="text" name="colors[]">
  <input type="text" name="colors[]">
  <input type="text" name="colors[]"> -->

  <h2>Nested Hash fields</h2>

  <input type="text" name="songs[][name]">
  <input type="text" name="songs[][genres][]">
  <input type="text" name="songs[][genres][]">

  <input type="text" name="songs[][name]">
  <input type="text" name="songs[][genres][]">
  <input type="text" name="songs[][genres][]">

  <input type="text" name="songs[][name]">
  <input type="text" name="songs[][genres][]">
  <input type="text" name="songs[][genres][]">

  <input type="text" name="songs[][name]">
  <input type="text" name="songs[][genres][]">
  <input type="text" name="songs[][genres][]">

  <input type="submit">
</form>
