<h1>New Song</h1>

<form action="/songs" method="POST">
  <p>
    <label>Song Name: </label> <input type="text" name="song_name" />
  </p>

  <p>
    <label>Artist: </label> <input type="text" name="artist_name" />
  </p>

  <p>
    <label>Genre: </label> <input type="text" name="genre_name" />
  </p>


  <input type="submit">
</form>
