<h1>New Artist</h1>
<form action="/artists" method="POST">
  <p>
    <label>Artist Name: </label> <input type="text" name="artist_name" />
  </p>

  <fieldset>
    <p>
      <label>Song Name: </label> <input type="text" name="songs[][name]" />
    </p>

    <p>
      <label>Genre Name: </label> <input type="text" name="songs[][genre]" />
    </p>
  </fieldset>
  <fieldset>
    <p>
      <label>Song Name: </label> <input type="text" name="songs[][name]" />
    </p>

    <p>
      <label>Genre Name: </label> <input type="text" name="songs[][genre]" />
    </p>
  </fieldset>
  <fieldset>
    <p>
      <label>Song Name: </label> <input type="text" name="songs[][name]" />
    </p>

    <p>
      <label>Genre Name: </label> <input type="text" name="songs[][genre]" />
    </p>
  </fieldset>


  <input type="submit">

</form>
